.service_header{
    background-image: url(../../images/ServiceBackground.png);
    background-size: auto;
    height: 300px;
    color: #ffffff;
    align-items: center;

}

.service-title{
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
    
    text-align: center;
}

h1{
    font-weight: 300;
}


@media screen and (max-width: 960px){
    .service_header{
        background-repeat: repeat-y;
        background-size: 100%;
    }
}

@media screen and (max-width: 770px){
    .service_header{
        background-repeat: repeat-y;
        background-size: 100%;
    }

    .service-title{
        left: 10%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
        position: absolute;
        font-size: 50px;
        
        text-align: center;
    }
}
