.about__hero-section{
    color: #ffffff;
    padding: 100px 0;

}

.about-container{
    
        z-index: 1;
        width: 100%;
        flex-wrap: wrap;
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
      
}

.about__hero-row{
    align-items: center;
    
}

.about-row{
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    align-content: stretch;
}

.about-col{
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
   
    max-width: 50%;
    flex-basis: 50%;
    align-content: center;
    justify-content: center;
}

.about__hero-text-wrapper{
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
    align-content: center;
    justify-content: center;
    text-align: center;

}


.heading{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: black;
    text-align: center;

}

.Name{
    margin-bottom: 24px;
    padding: 10px;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    color: black;
    text-align: center;
}

.dark{
    color: #1c2237;

}


.darkBg{
    background-color: #1c1c1c;
}

.about__hero-subtitle{
    color: black;
    max-width: 550px;
    margin-bottom:  35px;
    font-size: 18px;
    text-align: center;
}

.about__hero-img-wrapper{
    max-width: 555px;
    height: 500px;
}

.about__hero-img{
    max-width: 95%;
    height: auto;

    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;


}

.img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 991px){
    .about-container{
        padding-right: 30px;
        padding-left: 30px;
    }

    .about-row{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 760px){
    .about__hero-text-wrapper{
        padding-bottom: 65px;

    }
    


  
}